
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(35, 47, 62);
    color: white;
    height: 80px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}


.logo {
    font-size: larger;
}

.navSearch {
    width: 60%;
    /* background-color: azure; */
    display: flex;
    height: 50%;
}

.searchBar {
    width: 80%;
        /* padding: 0.5rem;
        height: 2.5rem; */
    
}

.navBar button {
    /* all: unset; */
    cursor: pointer;
}

.navBarButtons {
    all: unset;
}

.navBar a {
    text-decoration: none;
    color: white;
}

.signIn p {
    line-height: 0;
    font-size: small;
}

.searchButton {
    background-color: rgb(254, 189, 105);
    padding: 3px;
    width: 10%;
}

.cartIcon {
    font-size: 30px;
}

.searchIcon {
    font-size: 30px;
}

.navBarButtons p  {
    font-size: small;
    font-weight: 100;
    margin: 0;
}

